/* font */

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Regular.eot');
    src: url('./fonts/TTNorms-Regular.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Regular.woff2') format('woff2'),
        url('./fonts/TTNorms-Regular.woff') format('woff'),
        url('./fonts/TTNorms-Regular.ttf') format('truetype'),
        url('./fonts/TTNorms-Regular.svg#TTNorms-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Bold.eot');
    src: url('./fonts/TTNorms-Bold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Bold.woff2') format('woff2'),
        url('./fonts/TTNorms-Bold.woff') format('woff'),
        url('./fonts/TTNorms-Bold.ttf') format('truetype'),
        url('./fonts/TTNorms-Bold.svg#TTNorms-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Heavy.eot');
    src: url('./fonts/TTNorms-Heavy.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Heavy.woff2') format('woff2'),
        url('./fonts/TTNorms-Heavy.woff') format('woff'),
        url('./fonts/TTNorms-Heavy.ttf') format('truetype'),
        url('./fonts/TTNorms-Heavy.svg#TTNorms-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Medium.eot');
    src: url('./fonts/TTNorms-Medium.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Medium.woff2') format('woff2'),
        url('./fonts/TTNorms-Medium.woff') format('woff'),
        url('./fonts/TTNorms-Medium.ttf') format('truetype'),
        url('./fonts/TTNorms-Medium.svg#TTNorms-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Light.eot');
    src: url('./fonts/TTNorms-Light.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Light.woff2') format('woff2'),
        url('./fonts/TTNorms-Light.woff') format('woff'),
        url('./fonts/TTNorms-Light.ttf') format('truetype'),
        url('./fonts/TTNorms-Light.svg#TTNorms-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-ExtraBold.eot');
    src: url('./fonts/TTNorms-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-ExtraBold.woff2') format('woff2'),
        url('./fonts/TTNorms-ExtraBold.woff') format('woff'),
        url('./fonts/TTNorms-ExtraBold.ttf') format('truetype'),
        url('./fonts/TTNorms-ExtraBold.svg#TTNorms-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Norms';
    src: url('./fonts/TTNorms-Thin.eot');
    src: url('./fonts/TTNorms-Thin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/TTNorms-Thin.woff2') format('woff2'),
        url('./fonts/TTNorms-Thin.woff') format('woff'),
        url('./fonts/TTNorms-Thin.ttf') format('truetype'),
        url('./fonts/TTNorms-Thin.svg#TTNorms-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}



/* font */


/* Common Style Start */
html{font-size:14px;padding: 0;margin: 0; outline: none;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
body{margin: 0;margin: 0; font-family: 'TT Norms'; font-size: 16px;background-color: #f2f2f2;}
img{max-width:100%;display:inline-block;height: auto;vertical-align: middle;}
a,button,input[type="submit"]{ display: inline-block; vertical-align: middle; cursor: pointer; border: none; transition:all ease-in-out 0.3s ; -webkit-transition:all ease-in-out 0.3s ; -moz-transition:all ease-in-out 0.3s ; -ms-transition:all ease-in-out 0.3s ; -o-transition:all ease-in-out 0.3s ; }
a,button,input[type="submit"]{transition: all ease-in-out 0.3s;-webkit-transition: all ease-in-out 0.3s;-moz-transition: all ease-in-out 0.3s;}
a:hover,a:focus,a:active{text-decoration: none;}
span,strong,small{vertical-align: middle;display: inline-block;}
section,main,address,aside,figure,figcaption{display: block;}
strong,label{font-weight: bold;}
label{vertical-align: top;}
figure{margin: 0;}
p{margin: 0 0 20px 0;}
p:last-child{margin-bottom: 0;}
h1,h2,h3,h4,h5,h6 {font-family: 'TT Norms';padding: 0;margin: 0 0 20px 0;}
ol,ul{padding: 0;margin:0;}
input[type="text"],input[type="email"],input[type="url"],input[type="password"],input[type="search"],input[type="number"],input[type="tel"],input[type="range"],input[type="date"],input[type="month"],input[type="week"],input[type="time"],input[type="datetime"],input[type="datetime-local"],input[type="color"],textarea{display: inline-block;width:100%;padding:5px 10px;border: 1px solid #ccc;vertical-align: middle;border-radius: 2px;}
::placeholder {color: #4a4b4a !important;opacity: 1 !important;}
::-webkit-input-placeholder {color: #4a4b4a !important;opacity: 1 !important;}
::-moz-placeholder {color: #4a4b4a !important;opacity: 1 !important;}
:-ms-input-placeholder {color: #4a4b4a !important;opacity: 1 !important;}
:-moz-placeholder {color: #4a4b4a !important;opacity: 1 !important;}
button,input[type="button"],input[type="submit"] {text-align: center;-moz-appearance: none;-webkit-appearance: none;appearance: none;cursor: pointer;}
button:hover,input[type="button"]:hover,input[type="submit"]:hover {outline: none;text-decoration: none;}
a:focus,button:focus {outline: 0;}
.btn:focus,.btn.focus {outline: 0;-webkit-box-shadow: none;box-shadow: none;}
@media(min-width:1200px){.common-gap{padding:60px 0;}}
@media(max-width:1200px){.common-gap{padding:40px 0;}}
@media(max-width:991px){.common-gap{padding:20px 0;}}
@media(max-width:767px){.common-gap{padding:10px 0;}}
.common-btn{display:inline-block;background: linear-gradient(0deg, #9914f8, #d264f8);color:#fff;font-size: 18px;line-height: 45px;padding:0 20px;font-weight: 500;text-align: center;}
.common-btn:hover{background: linear-gradient(0deg,#d264f8,#9914f8);color:#fff;}
.common-btn.uppercase{text-transform: uppercase;}
.common-btn.capitalize{text-transform: capitalize;}
.common-btn.font-24{font-size: 24px;}
.common-btn.radius-30{ border-radius:30px; -webkit-border-radius:30px ; -moz-border-radius:30px ; -ms-border-radius:30px ; -o-border-radius:30px ; }
.common-btn.radius-10{ border-radius:10px; -webkit-border-radius:10px; -moz-border-radius:10px; -ms-border-radius:10px; -o-border-radius:10px; }
.common-btn.radius-20{ border-radius:20px; -webkit-border-radius:20px; -moz-border-radius:20px; -ms-border-radius:20px; -o-border-radius:20px; }
h1{font-size: 55px;line-height: 65px;}
h2{font-size: 50px; line-height: 60px;}
h3{font-size: 24px;line-height: 34px;}
ul{list-style-type: none;}
ul li{padding-left:15px;position: relative;}
ul li::before{ position: absolute; width:7px; height: 7px; background-color: #d264f8; top:2px; left:0; content: ''; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; -ms-border-radius: 100%; -o-border-radius: 100%; }
.learn-more{font-size: 14px; font-weight: normal;}




/* Common Style End */

/* home start */
.header-social-controller{
    text-align: right;
}
.header-social-controller li{
    list-style: none;
    display: inline-block;
    margin-right:38px;
    text-align: center;
}
.header-social-controller li:last-child{
    margin-right: 0;
}
.header-social-controller li a{
    color:#fff;
    width:44px;
    height: 44px;
    line-height: 44px;
    font-size: 22px;
    border: 1px solid #fff;
    text-align: center;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}
.header-top{
    background: linear-gradient(0deg, #730cf9, #b547f8);
    padding:12px 0;
}
.navbar-brand{
    max-width:224px;
}
.header-wrapper .navbar{
    padding:15px 0;
    background-color: #fbfbfb;
}
.navbar-nav li{
    padding-left: 0;
}
.navbar-nav li::before{
    display: none;
}
.header-wrapper .navbar .navbar-nav > li a{
    color:#010101;
    font-size: 18px;
    text-transform:uppercase;
    font-weight: 300;
    padding:0 15px;
    line-height: 18px;
}
.header-wrapper .navbar-nav > li:not(:last-child) a{
    border-right:1px solid #6b6a6a;
}
.follow-us{
    margin-left: 20px;
}
.header-wrapper{
    box-shadow: 8px 3px 21px rgba(0,0,0,0.3);
}

/*---*/

.banner-wrapper .carousel-caption{
    min-height: 400px;
    display: flex;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 1410px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding:80px 0;
}
.banner-text{
    background:url(./images/banner-map.png) no-repeat;
    background-size: 100%;
    flex: 0 0 50%;
    max-width: 50%;
    text-align: left;
}
.banner-img{
    flex: 0 0 50%;
    max-width: 50%;
}
.banner-text h1{
    color:#6465dd;
    margin-bottom: 40px;
    font-weight: bold;
    line-height: 70px;
}
.banner-text h1 span{
    font-size: 20px;
    font-weight: normal;
    display: block;
    margin-bottom: 30px;
    text-transform: uppercase;
    line-height: normal;
}
.banner-text p{
    color:#191919;
    font-size: 20px;
    font-weight: 300;
    max-width: 530px;
}
.banner-text .common-btn{
    min-width: 190px;
    margin-top: 20px;
}
.google-partner{
    display: flex;
    margin-top:60px;
    align-items: center;
}
.google-partner li{
    padding-left:0;
}
.google-partner li::before{
    display: none;
}
.google-partner li:not(:last-child){
    margin-right:15px;
}

/*--*/
.dev-card{
    background-color: #fff;
    box-shadow: 4px 28px 38px rgba(28,26,26,0.3);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 40px;
    color:#fff;
}
.dev-content-holder{
    text-align: center;
    padding:0 30px;
}
.dev-content-holder h3{
    text-transform: uppercase;
    margin: 0 auto 30px;
}
.dev-content-holder p{
    line-height: 22px;
}
.dev-content-holder .learn-more{
    color:#fff;
    text-transform: uppercase;
    margin:30px 0 0;
}
.pink-card{
    background:linear-gradient(0deg, #b869e8, #fb74be);
}
.sky-blue-card{
    background:linear-gradient(0deg, #26cee8, #059afd);
}
.violet-card{
    background:linear-gradient(0deg, #79c4fc, #9f2ef5);
}




/* home End */